// See feature #1051: UI sorting order.
.urgent= partial("alert_strips_group", :locals => {:alerts => @grouped_new_urgent})
.normal= partial("alert_strips_group", :locals => {:alerts => @grouped_new_normal})
.low= partial("alert_strips_group", :locals => {:alerts => @grouped_new_low})
.urgent= partial("alert_strips_group", :locals => {:alerts => @grouped_ack_urgent})
.normal= partial("alert_strips_group", :locals => {:alerts => @grouped_ack_normal})
.low= partial("alert_strips_group", :locals => {:alerts => @grouped_ack_low})
