%td{:class => (@today.month % 2 == 0 ? "even" : "odd")}
  %p.event_date
    %a{:href => "/events/list/#{@today.strftime("%F")}?#{request.query_string}"}
      = @today.strftime((@today.day == 1) ? "%d %b" : "%d")
  =partial("history", :collection => events_calendar_day.first(10).collect{|e| e.history.cached_alerts << e.alert ; e }.collect{|e| e.history}.uniq.sort{|a,b| a.created_at <=> b.created_at})
  %p
    - n_events = events_calendar_day.count
    - if n_events > 10
      There are
      = n_events - 10
      more events to display.
    - if n_events > 0
      %a{:href => "/events/list/#{@today.strftime("%F")}?#{request.query_string}"}
        Show the whole day.
- @today = @today + 1
