- if @today.nil? or %w(day month year).any?{|s| @today.send(s) != history.created_at.send(s)}
  %h2
    = history.created_at.strftime("%a %d %b %Y")
%p
  = history.created_at.strftime("%R")
  - history.alerts.each do |alert|
    %a{ :href => self.class.url_for(alert) } 
      = alert.id
      %strong
        = alert.subject
    = alert.summary
    - if alert.source != alert.subject 
      = "(from #{alert.source})"
  = history.event
  - if history.user
    = "by #{history.user}"
  - @today = Date.new(history.created_at.year, history.created_at.month, history.created_at.day)
