!!!
%html
  %head
    %meta{:name=>"viewport", :content=>"width=device-width"}
    %title Current alerts (logged in as #{@person.username})
    %link{:rel => "stylesheet", :href => "/alerts2.css"} 
    %script{:type => "text/javascript", :src => "/jquery-1.4.2.min.js"}
    %script{:type => "text/javascript", :src => "/jquery.treeview.pack.js"}
    %script{:type => "text/javascript", :src => "/jquery.cookie.js"}
    %script{:type => "text/javascript", :src => "/jquery.pop.js"}
    //%script{:type => "text/javascript", :src => "/jquery.countdown.js"}
    %script{:type => "text/javascript", :src => "/mauve.js"}
  %body
    .darkMask
    .head= partial("head3")
    .unacknowledged= partial("unacknowledged")
    .acknowledge= partial("acknowledge")
    .updateAlertStatus= partial("jqChangeStatus")
