%h2
  Events List
- if @start
  %p
    %a{:href => "/events/list/#{(@start-1.day+1.hour).strftime("%F")}?"+request.query_string}
      &larr; Previous day
    = @start.strftime("%F")
    %a{:href => "/events/list/#{(@start+1.day+1.hour).strftime("%F")}?"+request.query_string}
      Next day &rarr;
    |
    %a{:href => "/events/calendar/#{@start.strftime("%Y-%m")}?"+request.query_string}
      Calendar view
  = partial('events_form')
- if @events.count > 0
  = partial('history', :collection => @events.collect{|e| e.history.cached_alerts << e.alert ; e }.collect{|e| e.history}.uniq.sort{|a,b| a.created_at <=> b.created_at})
- else
  %p
    %strong
      No events.
