<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><title></title></head><body>
<p><strong><%= alert.update_type.upcase %>:</strong> <% 
case alert.update_type.to_sym 
when :cleared 
%><%= alert.cleared_at.to_s_relative %><% 
when :acknowledged 
%><%= alert.acknowledged_at.to_s_relative %><% 
else
%><%= alert.raised_at.to_s_relative %><% 
end 
%>: <%= alert.subject %>: <%= alert.summary %><%
if alert.source != alert.subject 
%> -- <em>from <%= alert.source %></em><%
end 
%>.</p>
<hr />
<h2>Detail</h2>
<div><%= RedCloth.new(alert.detail).to_html %></div>
<hr />
<address>--<br />Love mauve<br />xxx.</address></body></html>
