<a href="<%=WebInterface.url_for(alert)%>"><%= alert.id%>: <%= alert.update_type.upcase %></a> (<%= alert.level %>): <% 
case alert.update_type
when "cleared"
%><%= alert.cleared_at.to_s_relative %><% 
when "acknowledged"
%><%= alert.acknowledged_at.to_s_relative %> by <%= alert.acknowledged_by %> until <%= alert.will_unacknowledge_at.to_s_human %><% 
else
%><%= alert.raised_at.to_s_relative %><% 
end 
%>: <strong><%= alert.subject %></strong> <%= alert.summary %><%
if alert.source != alert.subject 
%> -- from <%= alert.source %><%
end 
%>.<%
if defined? was_suppressed and defined? will_suppress
  if was_suppressed and not will_suppress 
%><br /><em>Normal service for <%= alert.level %> alerts has resumed.</em><%
  elsif will_suppress and not was_suppressed
%><br /><em>Further <%= alert.level %> alerts suppressed until things calm down.</em><%
  end
end
%>
