  <html xmlns="http://jabber.org/protocol/xhtml-im"><body xmlns="OAhttp://www.w3.org/1999/xhtml">
<a href="<%=WebInterface.url_for(alert)%>"><%= alert.update_type.upcase %></a>: <% 
case alert.update_type
when "cleared"
%><%= alert.cleared_at.to_s_relative %><% 
when "acknowledged"
%><%= alert.acknowledged_at.to_s_relative %> by <%= alert.acknowledged_by %> until <%= alert.will_unacknowledge_at.to_s_human %><% 
else
%><%= alert.raised_at.to_s_relative %><% 
end 
%>: <%= alert.subject %>: <%= alert.summary %><%
if alert.source != alert.subject 
%> -- from <%= alert.source %><%
end 
%>.<%
if was_suppressed and not is_suppressed 
%><em> Normal service has resumed.</em><%
elsif is_suppressed and not was_suppressed
%><em> Further alerts suppressed until things calm down.</em><%
end 
%></body></html>
